/*  COMPLETED BY SAM PURITZ, APRIL 8, 2019*/


/*font families: font-family: 'Open Sans', sans-serif; font-family: 'Montserrat', sans-serif;*/


/*text styles */
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    background-color: #bccbde;
}
header h1 {
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
}
content h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 120px;
    margin: 40px;
}
sidebar h2 {
    font-family: 'Montserrat', sans-serif;
}
content p {
    margin: 50px;
}
footer p {
    margin: 50px;
}
sidebar blockquote{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*table stuff*/
content table {
    border-collapse: collapse;
    border: 1px solid black;
    float: left;
/*    margin: 50px; */
    margin-left: 50px;
    margin-bottom: 50px;
}
footer table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 40px;
}
content th {
  background-color: #DAF0FF;
  color: black;
}
content td {
    text-align: center;
    padding: 10px;
}
content tr:nth-child(even) {background-color: #f2f2f2;}



/* link styles ---------------------------- */
a:link,
a:visited,
a:active {
	font-weight: bold;
	color: #46587F;
	text-decoration: none;
}
 
a:hover {
	color: #3C7AFF;
	
}


/* DIVS */
#container {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
}
header {
    width: 100%;
}
#wSidebar {
    width: 840px;
    float: left;
}
sidebar {
    width: 360px;
    float: left;
}
sidebar img {
    margin: 20px;
}
footer {
    width: 100%;
    clear: both;
}
/* MISC */
 sidebar iframe {
    float: left;
    margin: auto;
    width: 100%;
    padding-top: 50px;
 }
 

 * {
    margin: 0 auto;
    padding: 0;
 }
 
 #paradox {
     clear: both;
 }